*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%;
    min-height: 10vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #ffffff79;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;

}

.inicio-correoinst{
    color:black;


}

.contenedor-hijo{
    background-color: aliceblue;
}