.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    text-align: left;
    position: relative;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 4px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0) !important;
  }
  
  .css-wb57ya-MuiFormControl-root-MuiTextField-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    width: 110% !important;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.182);
  }
  
  .css-wb57ya-MuiFormControl-root-MuiTextField-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    width: 100%;
    bottom: 10px;
  }
  .css-1c20jd8-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
    width: 0;
    min-width: 777px !important;
  }
  a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #1976d2;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 168px !important;
    cursor: pointer;
}
a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #1976d2;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60px !important;
  text-align: center;
  margin-bottom: 18px;
}
form {
  max-width: 500px;
  margin: 0 auto;
  padding:3.5rem !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.0) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
}
input, select, button, label {
  width: 261% !important;
  max-width: 417px;
  border-radius: 20px;
}
